@page "/"

<h1>Hello, world!</h1>

<p>
    This Blazor Wasm application shows how to use SignalR to connect up to a server and create a real-time management application. Going to the <a href="/users">User Management</a> Page you can see a real-time user management UX. As you make updates or anybody else, also logged in, you will see their update happen in real-time. Blazor Wasm does this by using the C#/.NET SignalR library, all right in the browser!
</p>

<div>
    Default User Name: test.user@users.com
</div>
<div>
    Default User Password: Password1!
</div>



